:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
  --typing-font: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../src/img/bg.jpg");
}

nav {
  padding: 60px 30px 0px 30px;
  flex: var(--sidebar-flex);
  background: rgba(0, 0, 0, 0.9);
}

nav ul {
  font-size: var(--fontsize-nav);
  text-align: center;
  list-style: none;
}

nav ul li {
  margin: 40px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
  background: rgba(255, 255, 255, 0.9);
}

.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
  width: 400px;
  margin: 30px;
}

.social {
  position: absolute;
  margin-top: 20px;
  display: flex;
  align-items: center;
  bottom: 60px;
}
.social i {
  padding: 15px;
  font-size: 25px !important;
  color: #9a9b9c;
}

.social i:hover {
  color: #333;
}

.social h3 {
  color: #9a9b9c;
}

.typingeffect {
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

.about {
  text-align: center;
}

.about p {
  margin-top: 10px;
}

.subtopic {
  margin: 10px 10px 20px 10px !important;
}

h1,
h2,
h3,
h4 {
  margin: 10px;
}

p {
  font-size: var(--fontsize-p);
  width: 60%;
  margin: auto;
}

.wildcard {
  display: flex;
  margin: 30px 20px;
  transition: 0.4s;
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(235, 235, 235, 0.9);
  width: 50%;
}

.wildcard img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.wildcard a {
  text-decoration: none;
  color: inherit;
}

.wildcard h3,
h4 {
  font-weight: bold;
}

.wildcard:hover {
  color: #fff;
  background-color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.carddiv {
  display: flex;
}

.conskills,
.example {
  display: flex;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  height: 150px;
  align-items: center;
  margin: 30px 0;
  justify-content: space-evenly;
}

.example {
  height: 65%;
  font-weight: 400;
  width: 100%;
  padding: 40px;
}
.example > * {
  margin: 20px;
}

.example img {
  border-radius: 25px;
  width: 600px;
}

.example h4 {
  font-size: 25px;
  line-height: 2;
}

.skillicon {
  margin-top: auto;
  height: 120px;
}

.skillicon p{
  width: 100%;
  text-align: center;
}

.myicon {
  width: 70px;
  height: 70px;
  filter: invert(1);
}

.active {
  font-weight: bolder;
}

.contact h3:not(:last-child) {
  font-size: 25px;
}
